<div class="site-header inicio">
    <div class="contenedor contenido-header">

        <h1>Venta de Casas y Departamentos Exclusivos de lujo</h1>
    </div>
</div>

<section class="contenedor seccion">
    <h2 class="fw-300 centrar-texto">Más sobre nosotros</h2>
    <div class="iconos-nosotros">
        <div class="icono">
            <img src="assets/img/icono1.svg" alt="Icono seguridad">
            <h3>Seguridad</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis voluptatem quam, velit id sunt dolore cupiditate iusto tempora saepe? Expedita adipisci amet nostrum ea nemo neque nam sed tempora quos.</p>
        </div>

        <div class="icono">
            <img src="assets/img/icono2.svg" alt="Icono mejor precio">
            <h3>El mejor precio</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis voluptatem quam, velit id sunt dolore cupiditate iusto tempora saepe? Expedita adipisci amet nostrum ea nemo neque nam sed tempora quos.</p>
        </div>

        <div class="icono">
            <img src="assets/img/icono1.svg" alt="Icono tiempo">
            <h3>A tiempo</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis voluptatem quam, velit id sunt dolore cupiditate iusto tempora saepe? Expedita adipisci amet nostrum ea nemo neque nam sed tempora quos.</p>
        </div>
    </div>
</section>

<main class="seccion contenedor">
    <h2 class="fw-300 centrar-texto">Casas en venta</h2>
    <div class="contenedor-anuncios">
        <div class="anuncio">
            <img src="assets/img/anuncio1.jpg" alt="Anuncio casa lago">
            <div class="contenido-anuncio">
                <h3>Casa de lujo en el lago</h3>
                <p>Casa en el lago, con excelente vista. Excelente precio.</p>
                <p class="precio">$3.000.000</p>

                <ul class="iconos-caracteristicas">
                    <li>
                        <img src="assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                    </li>
                    <li>
                        <img src="assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                    </li>
                    <li>
                        <img src="assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                    </li>
                </ul>

                <a routerLink="/anuncio" class="boton boton-amarillo d-block">Ver propiedad</a>
            </div>
        </div>

        <div class="anuncio">
            <img src="assets/img/anuncio2.jpg" alt="Anuncio casa 2">
            <div class="contenido-anuncio">
                <h3>Casa terminados de lujo </h3>
                <p>Casa con diseño moderno. Amueblada y tecnología inteligente </p>
                <p class="precio">$2.000.000</p>

                <ul class="iconos-caracteristicas">
                    <li>
                        <img src="assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                    </li>
                    <li>
                        <img src="assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                    </li>
                    <li>
                        <img src="assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                    </li>
                </ul>

                <a routerLink="/anuncio" class="boton boton-amarillo d-block">Ver propiedad</a>
            </div>
        </div>

        <div class="anuncio">
            <img src="assets/img/anuncio3.jpg" alt="Anuncio casa 3">
            <div class="contenido-anuncio">
                <h3>Casa con alberca</h3>
                <p>Casa con acabados de lujo. Excelente oportunidad.</p>
                <p class="precio">$3.000.000</p>

                <ul class="iconos-caracteristicas">
                    <li>
                        <img src="assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                    </li>
                    <li>
                        <img src="assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                    </li>
                    <li>
                        <img src="assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                    </li>
                </ul>

                <a routerLink="/anuncio" class="boton boton-amarillo d-block">Ver propiedad</a>
            </div>
        </div>
    </div>
    <div class="ver-todas">
        <a routerLink="/anuncios" class="boton boton-verde">Ver todas</a>
    </div>
</main>

<div class="imagen-contacto">
    <div class="contenedor contenido-contacto">
        <h2>Encuentra la casa de tus sueños</h2>
        <p>Llena el formulario y un asesor te contactará.</p>
        <a routerLink="/contacto" class="boton boton-amarillo">Contáctanos</a>
    </div>
</div>

<div class="seccion-inferior contenedor seccion">
    <section class="blog">
        <h3 class="centrar-texto fw-300">Nuestro blog</h3>

        <article class="entrada-blog">
            <div class="imagen">
                <img src="assets/img/blog1.jpg" alt="Entrada 1">
            </div>
            <div class="texto-entrada">
                <a routerLink="/entrada">
                    <h4>Terraza en el techo de tu casa.</h4>
                </a>
                <p>Escrito el: <span>20/10/2019</span> por: <span>Admin</span></p>
                <p>Consejos para construir una terraza con los mejores materiales y ahorrando. </p>
            </div>
        </article>

        <article class="entrada-blog">
            <div class="imagen">
                <img src="assets/img/blog2.jpg" alt="Entrada 2">
            </div>
            <div class="texto-entrada">
                <a routerLink="entrada">
                    <h4>Guía de decoración.</h4>
                </a>
                <p>Escrito el: <span>20/10/2019</span> por: <span>Admin</span></p>
                <p>Maximiza el espacio y aprende a combinar.</p>
            </div>
        </article>
    </section>

    <section class="testimoniales">
        <h3 class="centrar-texto fw-300">Testimoniales</h3>
        <div class="testimonial">
            <blockquote>
                El personal atendió bastante bien. Excelente servicio.
            </blockquote>
            <p>- Juan de la Torrre</p>
        </div>
    </section>
</div>